$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

.aboutPage {
    height: 100vh;
    .aboutCard {
        width: 20rem;
        border-radius: 20px;
        position: relative;
        padding: 2rem 2rem 5rem;
        margin-top: 8rem;
        @media (min-width: $sm) {
            width: 30rem;
        }
        @media (min-width: $md) {
            width: 35rem;
        }
        @media (min-width: $lg) {
            width: 40rem;
        }
        .avatar {
            position: absolute;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            background: white;
            text-transform: uppercase;
            width: 6rem;
            height: 6rem;
            border-radius: 3rem;
            top: -2rem;
            left: calc((100% - 6rem + 2rem));
            @media (min-width: $sm) {
                width: 10rem;
                height: 10rem;
                border-radius: 5rem;
                top: -4rem;
                left: calc((100% - 10rem + 4rem));
            }
            @media (min-width: $lg) {
                width: 14rem;
                height: 14rem;
                border-radius: 7rem;
                top: -6rem;
                left: calc((100% - 14rem + 6rem));
            }
        }
    }
    .gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3rem;
        @media (min-width: $lg) {
            flex-direction: row;
            gap: 2rem;
        }
        .galleryCard {
            margin-bottom: 3rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            width: 20rem;
            height: 15rem;
            border-radius: 2rem;
            overflow: hidden;
            box-shadow: 9px 9px 39px 1px;
        }
    }
}
